In [130]:
import io
import locale
import requests
import numpy as np
import pandas as pd

from datetime import datetime
from bs4 import BeautifulSoup

In [97]:
locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

# Extract

In [109]:
response = requests.get('https://www.dadosdemercado.com.br/indices/igp-m')

In [110]:
soup = BeautifulSoup(response.text, 'html')

In [119]:
table = soup.find("table", class_ = "normal-table", id = False)

In [120]:
table = io.StringIO(str(table).replace(",", "."))

In [121]:
table = pd.read_html(table)[0]

# Transform

In [123]:
table.insert(
    loc = 0
    ,column = "Data Referencia"
    ,value = table["Mês/Ano"].apply(lambda date: datetime.strptime(date.lower(), "%b/%Y"))
)

In [126]:
table = table.rename(
    columns = {
        "Índice do mês (%)": "Variacao Mes"
        ,"Acumulado no ano (%)": "Variacao Ano"
        ,"Acumulado 12 meses (%)": "Variacao 12m"
    }
)

In [132]:
table = table.replace("--", np.nan)

In [134]:
table = table.astype(
    dtype = {
        "Variacao Mes": float
        ,"Variacao Ano": float
        ,"Variacao 12m": float
    }
)

In [138]:
table = table.drop("Mês/Ano", axis = 1)

In [141]:
table[table["Data Referencia"] == datetime(datetime.now().year, datetime.now().month - 2, 1)]

  Data Referencia  Variacao Mes  Variacao Ano  Variacao 12m
1      2024-01-01          0.07          0.07         -3.31